.banner {
  background: url('../img/MachelenPut.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 38.2%;
  background-size: cover;
}

#logo {
  position: absolute;
  height: 20.525925925925925925925925925926%;
  width: 73.8921875%;
  max-width: 100%;
  top: 9.7222222222222222222222222222222%;
  left: 13.072916666666666666666666666667%;
}

.navigation {
  list-style: none;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  display: flex;
  overflow: hidden;
  border: none;
}

.navigation a {
  color: white;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.background {
  background: url('../img/MachelenPut2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  border: 0;
  padding: 0;
  margin: 0;
}
