* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.jumbotron {
  background-image: url(../img/MachelenPut.jpg);
  background-size: cover;
  height: 39vh;
  border-radius: 0 !important;
}

.container .jumbotron {
  border-radius: 0 !important;
}

.navbar-nav > li {
  margin-left: 1em;
  margin-right: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: block;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #f9f9f9;
  text-align: center;
}

.footer-container {
  position: relative;
}

a {
  color: white;
}
a:hover {
  color: white;
}

i {
  color: #a3a3a3;
}

.content {
  font-family: 'Montserrat', sans-serif;
  font-size: 24;
  color: #707070;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 88px;
  color: #707070;
  text-align: left;
}

.bg {
  background-image: url(../img/MachelenPut2.png);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  position: relative;
  height: 20.525925925925925925925925925926%;
  width: 73.8921875%;
  max-width: 100%;
  top: 9.7222222222222222222222222222222%;
  left: 13.072916666666666666666666666667%;
}

#countdown {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 112px;
  position: absolute;
  top: 77%;
  left: 25%;
  margin: 0 0 0;
}
